.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 10vh;
  width: 100vw;
  font-family: 'Arial';
  background-color: rgb(214, 208, 187) !important;
  color: black;
}

.icone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  padding: 0;
  background-color: rgb(214, 208, 187);
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: rgb(214, 208, 187);
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
  background-color: rgb(214, 208, 187);
  margin-top: 20px;
}

.btnContact,
.btnAvis,
.logoInstagram,
.logoLinkedIn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.logoInstagram:hover,
.logoLinkedIn:hover {
  text-decoration: underline;
}

.logoInstagram {
  width: 50px;
  height: 50px;
  border-radius: 37px;
  box-shadow: 0px 15px 40px 1px rgba(0, 0, 0, 0.5);
}

.logoLinkedIn {
  width: 50px;
  height: 50px;
  border-radius: 37px;
  box-shadow: 0px 15px 40px 1px rgba(0, 0, 0, 0.5);
}

.btnContact,
.btnAvis {
  background-color: #B8C2AE;
  color: #2B2B2B;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 30px;
}