.Container {
  display: flex;
  padding: 0 20px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  height: 35vh;
  width: 100vw;
  font-family: 'Arial';
  background-color: rgb(214, 208, 187);
  color: black;

}

.connect {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;

}

.btnInscription {
  background-color: #D9D1B5;
  color: #2B2B2B;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.btnInscription:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.btnConnexion {
  background-color: #B8C2AE;
  color: #2B2B2B;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.btnConnexion:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.histoire {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: black;
  cursor: pointer;
  margin-bottom: 50px;
}

.titre {
  font-size: 1.5rem;
  color: #333;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.titre:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);

}

.logo {
  padding: 0;
  margin: 20px;
  display: flex;
  align-items: left;
  padding: 15px 30px;
  height: 20vh;
  width: 20vw;
  margin-top: 90px;
  cursor: pointer;

}

.logo:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);

}

.topTitle {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.title {
  font-size: 48px;
  color: #2B2B2B;
  font-family: 'Square', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 0;

}

.title span {
  color: #A09C7E;
  font-weight: normal;
}

.subtitle {
  font-size: 16px;
  color: #2B2B2B;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;

}

.profil {
  padding: 0;
  margin: 20px;
  display: flex;
  align-items: left;
  padding: 15px 30px;
  height: 25vh;
  width: 15vw;
  margin-top: 90px;
  cursor: pointer;
  color: #646b5c;
}

.btnDeconnexion {
  color: #43da0c;
  border-radius: 20px;
  font-size: 18px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 30px;
}

.icon {
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 90px;

}


.profilConnecter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  text-align: center;
}

.text {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  color: #333;
}

.text:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);

}

.cart {
  position: absolute;
  bottom: -20px;
  right: 140px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  margin-bottom: 90px;
}


.cart active {
  color: green;
  /* Couleur lorsque des articles sont ajoutés au panier */
}

.cart:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);

}

.quantity {
  background-color: #B8C2AE;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 20px;
  position: absolute;
  position: absolute;
  bottom: -20px;
  right: 90px;
  cursor: pointer;
  margin-bottom: 90px;

}

.quantity:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);

}

.exitIcon {
  position: absolute;
  bottom: -20px;
  right: 40px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  margin-bottom: 90px;
}

.exitIcon:hover {
  transform: translateY(-8px);
  box-shadow: 6px 3px 12px rgba(87, 16, 16, 0.3);

}